.nav {
  display: flex;
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
  justify-content: center;
  list-style-type: none;
  border-bottom: 0.1rem solid white;
  position: fixed;
  top: 0%;
  background: black;
  width: 100%;
  z-index: 1;
}

.nav li {
  margin: 0px 40px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
